* {
  box-sizing: border-box;
}

#brand-logo {
  font-family: "Acme", sans-serif;
  padding-left: 20px;
}

.nav-item {
  padding-right: 1px;
}

.ulWrapper {
  text-align: center;
}

#profImg {
  position: relative;
  animation-name: myanimation;
  animation-duration: 1s;
}

#personalContent {
  position: relative;
  animation-name: personal;
  animation-duration: 1.5s;
}


/****************************INTRO WRAP**********************/
/*.parallax {
  background-image: url("./img/trainTracks.jpg");
  background-size: cover;
  background-position: center bottom;
}*/

.parallax-container {
  height: 550px;
}

.introWrap {
  padding-top: 15px;
  background-color: rgba(117, 117, 117, 0.2);
  margin-bottom: 0;
}

.contentUl {
  margin-left: 35px;
}

.is-visible {
  position: relative;
  animation-name: traits;
  animation-duration: 0.16s;
}

.ulWrap {
}

/**********************DESIGN WRAP******************************/
.designWrap {
  background-color: rgba(224, 224, 224, 0.2);
  height: 550px;
  position: relative;
}

.designHeader {
  margin-bottom: 0;
display: block;
  margin-top: 0;
  text-align: center;
  padding-top: 15px;
  padding-top: 4%;
  /*border-bottom: 5px solid black;*/
}

.designHeader:after {
  content: "";
  display: block;
margin: 0 auto;
  width: 0;
  height: 4px;
  background:	 #0052cc;
}

.designHeader:hover::after{
  width: 10%;
}

.designQualities {
  margin-top: 5%;
  float: left;
  width: 25%;
  text-align: center;
}

.designIcon {
  display: block;
  text-align: center;
  height: 50px;
  font-size: 3em;
}

.iconWrap {
  text-align: center;
  font-size: 5em;
}

/*****************PROJECTS WRAP********************/
.projectWrap {
  height: 500px;
  background-color: rgba(117, 117, 117, 0.2);
}

@media screen and (max-width: 605px) {
  .designQualities {
    width: 50%;
  }
  .designWrap {
    height: 700px;
  }
}

@media screen and (max-width: 480px) {
  .ulWrapper {
    height: 300px;
  }
  .designWrap {
  }
  .projectWrap {
    height: 300px;
  }
}

@keyframes traits {
  0% {
    left: -800px;
    top: 100px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes personal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes myanimation {
  0% {
    left: -100px;
    top: -200px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

/*#profImg {
  transition: transform 300ms ease-in-out;
  pointer-events: none;
  position: relative;
  top: -10px;
  left: -10px;
}

.trigger:hover > #profImg {
  transform: translate(10px, 10px);
}

.clicked {
  transform: translate(10px, 10px);
}*/
