*{
  box-sizing: border-box;
}

#addButton{
  background-color: #f60b10;
  font-weight: bold;
  height: 32px;
  padding-top: 2px;
  width: 50px;
}

#addButton, button{
  cursor: pointer;
}

.listItem{
  background-color: green;
  max-width: 100px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 4px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 500;
  text-align: center;
  position: relative;
  border-style: outset;
  border-width: 3px;
}

.exButton{
  position: absolute;
  right: -34%;
  top: 17%;
}

.container{
  text-align: center;
}
